DATABASE_URL=postgres://user:password@postgres:5432/dbname
AWS_ACCESS_KEY=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=ap-south-1
AWS_S3_BUCKET_NAME=imagr-import-platform
GOOGLE_APPLICATION_CREDENTIALS=path/to/service_account.json